body {
  margin: 0;
  padding: 0;
}

main {
  background: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  canvas {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
  }
}
